#login_banner {
    width:350px;
}

button {
    display:flex;
    margin-bottom:1rem;

}


#login_banner > .card-header,
#login_banner > .card-subtitle,
#login_banner > .form-group {
  margin-bottom: 2rem;
}

#login_banner input {
    margin-bottom: 0.5rem;
}


button#login_button {
    width:100%;
}
button#password_reset  {
    font-size:10px;
    float:right;
}

div#new_account {
    display:flex;
    width:100%;
    justify-content: center;
    margin-top:120px;

}


div#auth {
    display:flex;
    justify-content: space-evenly;
}

div#auth.card-body {
    display: flex;
    flex-direction: column; 
    gap: 0.5rem;           
    align-items: center;   
}
#auth img {
    width: 30px;
    height:30px;
}

#auth p {
    color:rgb(97, 97, 97);
}
@media (max-height: 600px) {
    #login_banner .card-header {
        display:none;
    }
}
