.App {
  text-align: center;
  
}

#basket_page {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
  gap: 1rem;

}

.basket_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  flex: 1; 
}

